{% extends "_layout" %}
{% set title = "YW Camp" %}

{% block content %}
<div class="uk-cover-container" style="height: 79vh;">
    <img src="/images/home_slides/girls-camp-antelope-island-beach-woman-young-women.jpg" class="uk-animation-fade uk-cover" alt="Youth Theme Banner" uk-cover>
    <div class="uk-position-small uk-position-bottom-center">
		<a href="#schedule" class="uk-icon-button" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
	</div>
</div>
<div class="uk-width-1-1" uk-sticky>
	<div class="uk-container uk-text-center uk-text-center">
		<nav class="uk-navbar-container" uk-navbar>
		    <div class="uk-navbar-left">
		        <ul class="uk-navbar-nav" uk-scrollspy-nav="closest: li; scroll: true; offset: 100">
		            <!--<li><a href="#featured" uk-scroll="offset: 25">Featured</a></li>-->
		            <li><a href="#schedule" uk-scroll="offset: 25">Schedule</a></li>
		            <li><a href="#checklist" uk-scroll="offset: 25">Checklist</a></li>
		        </ul>
		    </div>
		    <div class="uk-navbar-right">
	                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdzcczTO1MczAGSNccn0QaVpklSvcapaUjQQcqpQVhINaoMnw/viewform?c=0&w=1&usp=mail_form_link" title="Register" target="_blank" class="uk-button uk-button-primary uk-button-large uk-margin-small-right">Register</a>
	        </div>
		</nav>	
	</div>
</div>
<div class="uk-container">
	<div id="schedule" class="uk-margin-medium-top">
	    <h2 class="uk-margin-remove-top">COMING SOON</h2>
	    {#<div class="uk-panel uk-background-muted uk-padding">
	        <h3>Schedule</h3>
	        <dl class="uk-description-list uk-description-list-divider">
			    <dt>Friday, August 4</dt>
			    <dd>
					<ul class="uk-list">
					    <li><strong>9:00AM:</strong> List item 1</li>
					    <li><strong>11:00AM:</strong> List item 1</li>
					    <li><strong>3:00PM:</strong> List item 1List item 3</li>
					</ul>
				</dd>
			    <dt>Saturday, August 5</dt>
			    <dd>
			    	<ul class="uk-list">
					    <li><strong>9:00AM:</strong> List item 1</li>
					    <li><strong>11:00AM:</strong> List item 1</li>
					    <li><strong>3:00PM:</strong> List item 1List item 3</li>
					</ul>
				</dd>
			</dl>
	    </div>#}
	</div>
	<div id="checklist">
		
	</div>
</div>
{% endblock %}