{% extends "_layout" %}
{% set title = "YW Camp" %}

{% block content %}
<div class="uk-cover-container" style="height: 79vh;">
	{% for entry in craft.entries.section('ywCamp') %}
	{% for image in entry.campPageImage %}
    <img src="{{ image.getUrl() }}" class="uk-animation-fade uk-cover" alt="{{ image.title }}" uk-cover>
    {% endfor %}
    {% endfor %}
    <div class="uk-position-small uk-position-bottom-center">
		<a href="#details" class="uk-icon-button" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
	</div>
</div>
<div class="uk-container">
	<div id="details" class="uk-margin-medium-top uk-margin-medium-bottom">
		{% for entry in craft.entries.section('ywCamp') %}
	    <h2>{{ entry.campPageTitle }}</h2>
        {{ entry.campPageContent }}
        {% endfor %}
    </div>
</div>
{% endblock %}