{% extends "_layout" %}
{% set title = "YW Camp" %}

{% block content %}
<div class="uk-cover-container" style="height: 79vh;">
    <img src="/images/home_slides/girls-camp-antelope-island-beach-woman-young-women.jpg" class="uk-animation-fade uk-cover" alt="Youth Theme Banner" uk-cover>
    <div class="uk-position-small uk-position-bottom-center">
		<a href="#details" class="uk-icon-button" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
	</div>
</div>
<div class="uk-container">
	<div id="details" class="uk-margin-medium-top uk-margin-medium-bottom">
	    <h2>YW Camp, 2017</h2>
        <p>Camp will be held at Camp Nisqually from Tuesday, July 18th through Saturday, July 22nd. There will be a follow-up fireside on Sunday, August 6th at the Puyallup Stake Center.</p>
        <p>You can upload photos from camp here: <a href="https://brashearspics.smugmug.com/upload/5cBn7w/girlscamp2017" target="_blank">https://brashearspics.smugmug.com/upload/5cBn7w/girlscamp2017</a>. Password is <em>girls camp 2017</em>.</p>
    </div>
</div>
{% endblock %}