{% extends "_layout" %}
{% set title = "Youth Conference" %}

{% block content %}
<div class="uk-cover-container" style="height: 79vh;">
    <img src="/images/home_slides/pioneer-trek.jpg" class="uk-animation-fade uk-cover" alt="Trek" uk-cover>
    <div class="uk-position-small uk-position-bottom-center">
		<a href="#details" class="uk-icon-button" uk-icon="icon: chevron-down; ratio: 2" uk-scroll></a>
	</div>
</div>
<div class="uk-container">
	<div id="details" class="uk-margin-medium-top uk-margin-medium-bottom">
	    <h2>Youth Conference, 2018</h2>
        <p>Trek will take place as the 2018 Youth Conference, and will be held from July 10th through the 13th, 2018. This will be a Hand Cart Trek. More information to can be found <a href="/camps/trek/" title="Learn more about Trek on the Trek Page">here</a>.</p>
    </div>
</div>
{% endblock %}