{% extends "_layout" %}
{% set title = "Youth Conference" %}

{% block content %}
<div id="featured" class="uk-section">
	<div class="uk-container">
    	<h3 class="uk-heading-line"><span>Service Project Details</span></h3>
        <p>For our Youth Conferece service project, we are assisting a local relief organization who helps refugees that come to the United States. Our goal is to assemble 300 kits.</p>
        <p>In order for us to do this we need the help of the youth and ward members to collect the items that are required for each kit. The donations of these items do not need to come from church members alone, and we encourage you to be creative in finding ways to get donations from families and/or organizations. Below is a listing of the items needed and our goals for each item that needs to be collected by <em>July 23, 2017</em>. If you are a parent of a youth, or ward member and would like to participate, please contact the youth leaders in your ward for details. Thank you for your help and participation!</p>
        <a href="/images/uploads/refugee flyer.pdf" title="Download Flyer" target="_blank">Download Activity Flyer</a>
        <div class="uk-overflow-auto uk-margin-top">
	        <table class="uk-table uk-table-striped uk-table-small ">
			    <thead>
			        <tr>
			            <th>Items</th>
			            <th>Ward Goal</th>
			            <th>Stake Goal</th>
			            <th>Collected</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>Toothbrushes</td>
			            <td>200</td>
			            <td>1400</td>
			            <td>0</td>
			        </tr>
			        <tr>
			            <td>Toothpaste</td>
			            <td>85</td>
			            <td>600</td>
			            <td>0</td>
			        </tr>
			        <tr>
			            <td>Shampoo</td>
			            <td>85</td>
			            <td>600</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Conditioner</td>
			            <td>85</td>
			            <td>600</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Deodorant</td>
			            <td>170</td>
			            <td>1200</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Soap Bars</td>
			            <td>130</td>
			            <td>900</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Razors</td>
			            <td>85</td>
			            <td>600</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Shaving Créme</td>
			            <td>85</td>
			            <td>600</td>
			            <td>0</td>
			        </tr>
			         <tr>
			            <td>Feminine Pads (boxes)</td>
			            <td>45</td>
			            <td>300</td>
			            <td>0</td>
			        </tr>
			        <tr>
			            <td>Toilet Paper Rolls</td>
			            <td>260</td>
			            <td>1800</td>
			            <td>0</td>
			        </tr>
			    </tbody>
			</table>
        </div>
        <hr class="uk-divider-icon uk-margin-large-top">
    </div>
</div>
{% endblock %}