{% extends "_layout" %}
{% set title = "Dances" %}

{% block content %}
<div class="uk-section uk-padding">
	<div class="uk-container">
		<h1><strong>STAKE DANCE INFORMATION</strong></h1>
		<p class="uk-text-lead">All dances in 2018 begin at 8pm and end at 10:30pm. There will no longer be 7pm firesides prior to dances.</p>
		<h4><strong>DANCE CARD APP</strong></h4>
		<p><a href="/images/uploads/stake_dance_card_app_instructions.pdf" target="_blank">View App Instructions</a></p>
		<h4><strong>DRESS STANDARDS</strong></h4>
		<p>Appropriate dress is modest, neat, clean, and avoids extremes.</p>
		<h4><strong>INAPPROPRIATE DRESS</strong></h4>
		<p>Shorts of any length, PE type clothing, sweat suits, hats of any type, bandanas, and any printed message or picture that is contrary to gospel principles.  Youth will refrain from wearing the following:</p>
		<h5><u>Young Women</u></h5>
		<ul>
			<li>Skirts above the knee (Incl. slits)</li>                                     
			<li>Sleeveless shirts or blouses, tank tops or any clothing showing a bare midriff</li>      
			<li>Clothing that is revealing, backless or low-cut</li>             
			<li>Leggings may be worn, but will be treated as nylons, and can only be worn under knee-length skirts</li>
			<li>Inappropriate piercings, more than one pair of earrings</li>
			<li>“Yoga” pants or jeans with holes</li>
		</ul>
		<h5><u>Young Men</u></h5>
		<ul>
			<li>Tank tops</li>
			<li>Clothing that is patched, frayed, torn, holes or sagging</li>
			<li>Earrings are inappropriate for young men, as are other body piercings</li>
		</ul>
		<h2 class="uk-heading-line"><span>2018 DANCES</span></h2>
		<table class="uk-table">
		    <tbody>
		        <tr>
		            <td>Jan 20</td>
		            <td>Puyallup</td>
		        </tr>
		        <tr>
		            <td>Feb 17</td>
		            <td>Federal Way</td>
		        </tr>
		        <tr>
		            <td>March 17</td>
		            <td>Enumclaw</td>
		        </tr>
		        <tr>
		            <td>April 21</td>
		            <td>Puyallup</td>
		        </tr>
		        <tr>
		            <td>May 19</td>
		            <td>South Hill</td>
		        </tr>
		        <tr>
		            <td>June 16</td>
		            <td>Graham</td>
		        </tr>
		        <tr>
		            <td>July 21</td>
		            <td>Federal Way</td>
		        </tr>
		        <tr>
		            <td>Aug 18</td>
		            <td>Enumclaw</td>
		        </tr>
		        <tr>
		            <td>Sept 15</td>
		            <td>Graham & Priest/Laurel Conference during the day</td>
		        </tr>
		        <tr>
		            <td>Oct 20</td>
		            <td>Federal Way</td>
		        </tr>
		        <tr>
		            <td>Nov 17</td>
		            <td>South Hill</td>
		        </tr>
		        <tr>
		            <td>Dec 31</td>
		            <td>Puyallup</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>
{% endblock %}